#x1{
  margin-right: 13px; 
  font-size: 16px;
  display: none;
}
#x1 :hover{
  color: #f5b55a;
}

#x2{
  margin-right: 13px; 
  font-size: 16px;
  display: none;
}
#x2 :hover{
  color: #f5b55a;
}

#x3{
  margin-right: 13px; 
  font-size: 16px;
  display: none;
}
#x3 :hover{
  color: #f5b55a;
}

#x4{
  margin-right: 13px; 
  font-size: 16px;
  display: none;
}
#x4 :hover{
  color: #f5b55a;
}